@font-face {
    font-family: 'Blackletter';
    src: url('fonts/BlackletterExtrabold-51DV.ttf') format('truetype');
  }
 body{
  background-image: url('imgs/36626.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
}


.AOT_Logo_font{
    text-align: center;
    font-family: 'Blackletter', sans-serif; 
    
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 20px;
}

  .score-container{
    text-align: center;
    margin-top: 50px;
  }

h2{
    font-family: 'Blackletter', sans-serif; 
}


button {
  margin-top: 10px;
}

#question-container{
    margin-bottom: 20px;
    background-color: aliceblue;
}

#score{
    font-weight: bold;
    color: #4caf50;
}


h1 {
  margin-top: 0;
}

button {
  margin-top: 10px;
}
